* {
    box-sizing: border-box;
    --green: #607744;
    --white: #F0EDEE;
    --black: #231F20;
    --gray: #E5E5E5;
}

body {
    margin: 0;
    font-family: roboto condensed;
    background-color: var(--gray);
}