* {
    box-sizing: border-box;
    --green: #607744;
    --white: #F0EDEE;
    --black: #231F20;
    --gray: #E5E5E5;

    --box_shadow:rgba(0, 0, 0, 0.197) 0px 5px 25px;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed';
    background-color: var(--gray);
}

main {
    position: relative;
    padding: 20px 16%
}