.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 4.6875em 10% 3.125em 10%;
    background-color: var(--white);
    box-shadow: var(--box_shadow);
    margin: 3.125em 0;
    height: 50vh;
    border-radius: var(--border_radius);
}

.conntact-info {
    margin-bottom: 3.125em;
    text-align: left;
    width: 40%;
}

.conntact-info h2 {
    margin: 0;
    font-size: 1.875em;
    color: var(--green);
}

.conntact-info p {
    margin: 0.625em 0;
    color: var(--black);
    text-align: left;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    width: 40%;
}

.contact-form input {
    background: var(--white);
    box-shadow: var(--box_shadow);
    border: none;
    border-bottom: 1px var(--black) solid;
    padding: 0.9375em;
    border-radius: 6px;
}

.contact-form input:focus {
    outline: none;
    border: none;
    border-bottom: 1px var(--green) solid;
}

.contact-form textarea {
    background: var(--white);
    box-shadow: var(--box_shadow);
    border: none;
    border-bottom: 1px var(--black) solid;
    padding: 0.9375em;
    border-radius: 6px;
    resize: none;
    cursor: var(--black);
    height: 30%;
}

.contact-form textarea:focus {
    outline: none;
    border: none;
    border-bottom: 1px var(--green) solid;
}


.contact-form button {
    background: var(--green);
    box-shadow: var(--box_shadow);
    border: none;
    padding: 15px;
    border-radius: 6px;
    cursor: pointer;
    color: var(--white);
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
}
