footer {
    width: 100%;
    height: 100px;
    background-color: var(--white);
}

footer p {
    text-align: center;
    color: var(--black);
    font-size: 0.9em;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin: 0px 10px 30px 10px;
    padding: 20px 0 0 0;
    list-style: none;
}   

.footer-links a {
    color: var(--black);
    text-decoration: none;
    font-size: 0.9em;
}