footer {
    width: 100%;
    height: 100px;
    background-color: var(--white);
}

.footer p {
    text-align: center;
    margin: auto;
    color: var(--gray);
    font-size: 0.9em;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    margin: 30px 10px 30px 10px;
}   

.footer-links a {
    color: var(--black);
    text-decoration: none;
    font-size: 0.9em;
}