.introduction {
    text-align: center;
    margin: 20px 0;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.197) 0px 5px 25px;
    padding: 30px;
}

.introduction h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: var(--green);
}