.introduction {
    text-align: center;
    margin: 1.25em 0.625em;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.197) 0px 5px 25px;
    padding: 1.5vw;
    border-radius: var(--border_radius);
    min-height: 15vh;
}

.introduction h1 {
    font-size: clamp(1.5vw, 5vw, 30px);
    margin-bottom: 0.625em;
    color: var(--green);
}

.introduction p {
    font-size: clamp(0.8vw, 2vw, 18px);
    color: var(--black);
}

