.order-status {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0 18px 0;
    background-color: var(--white);
    padding: 20px 14px;
    border-radius: 5px;
    box-shadow: var(--box_shadow);
}

.order-status-step {
    position: relative;
    width: 15%;
}

.order-status-step-circle {
    position: relative;
    width: 30px;
    left: 50%;
    transform: translateX(-50%); 
    height: 30px;
    border-radius: 50%;
    margin: 15px 0 8px 0;
    border: 2px solid var(--black);
}

.order-status-step-circle.completed {
    border: 2px solid var(--green);
}

.order-status-step-dot.completed {
    position: absolute;
    width: 85%;
    height: 85%;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--green);
}

.order-status-label {
    position: relative;
    text-align: center;
    font-weight: 600;
    color: var(--black);
    font-size: 12px;
}

.order-status-line {
    position: absolute;
    top: 31%;
    right: 58%;
    width: 148%;
    height: 2px;
    background-color: var(--black);
}

