.page-heading {
    text-align: center;
    margin: 2vh 0;
    background-color: var(--white);
    box-shadow: var(--box_shadow);
    padding: 2vh;
    border-radius: var(--border_radius);
}

.page-heading h2 {
    font-size: clamp(2.5vw, 4vw, 50px);
    margin-bottom: 0.625em;
    color: var(--green);
    font-weight: 700;
    margin: auto;
}
