.products-overview {
    display: flex;
    flex-wrap: wrap;
    gap: auto;
    justify-content: space-between;
    padding: 20px 0;
}

.product-item {
    position: relative;
    border: none;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    width: 23%;
    height: 440px;
    box-shadow: var(--box_shadow);
    background-color: var(--white);
}

.product-item img {
    position: relative;
    width: 100%;
    height: 50%;
    border-radius: 5px;
    box-shadow: var(--box_shadow);
}

.product-item h3 {
    font-size: 1.3em;
    margin: 20px 0 5px 7px;
    text-align: left;
    font-weight: 900;
}

.product-item p:nth-of-type(1) {
    font-size: 1.1em;
    color: var(--black);
    margin: 20px 0 5px 7px;
    text-align: left;
}
 
.product-item .currency {
    font-size: 0.4em;
    color: var(--black);
    font-weight: 800;
    font-family: 'Roboto Condensed';
    vertical-align: 11px;
}

.product-item .price {
    position: absolute;
    bottom: 40px;
    left: 40px;
    font-size: 2.5em;
    font-weight: 500;
    color: var(--black);
    margin: 0;
    font-family: 'Karantina';
}


