.products-overview {
    display: flex;
    flex-wrap: wrap;
    gap: auto;
    justify-content: space-between;
    padding: 20px 0;
}

.product-item {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 25px;
    text-align: center;
    width: 23%;
    height: 450px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
}

.product-item img {
    position: relative;
    width: 100%;
    height: 50%;
    border-radius: 4px;
}

.product-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item p:nth-of-type(1) {
    font-size: 1em;
    color: var(--black);
}
 
.product-item .currency {
    font-size: 0.4em;
    color: var(--black);
    font-weight: 800;
    font-family: 'Roboto Condensed';
    vertical-align: 14px;
}

.product-item .price {
    font-size: 3em;
    font-weight: 500;
    color: var(--black);
    margin: 15px 0;
    font-family: 'Karantina';
}

.product-item button {
    background-color: var(--green);
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.product-item button:hover {
    background-color: #218838;
}

