/* Hlavní okno karuselu (zabere celou šířku main) */
.products-carousel {
    width: 100%;

}

/* Pás, ve kterém jsou karty vedle sebe */
.carousel-content {
    position: relative;
    display: flex; 
    flex-direction: row;
    width: 100%;
    height: 500px;
    overflow: hidden; 
}

/* Obal pro každou jednotlivou kartu */
.carousel-item {
    position: absolute;
    width: 25%;
    height: 100%;
    visibility: hidden;
    transition: all 0.5s ease ;
}

.carousel-item.c0 {
    visibility: hidden;
    transform: translateX(-100%);
}

.carousel-item.c1 {
    visibility: visible;
    transform: translateX(0);
}

.carousel-item.c2 {
    visibility: visible;
    transform: translateX(100%);
}

.carousel-item.c3 {
    visibility: visible;
    transform: translateX(200%);
}

.carousel-item.c4 {
    visibility: visible;
    transform: translateX(300%);
}

.carousel-item.c5 {
    visibility: hidden;
    transform: translateX(400%);
}