.product-card { 
    position: relative;
    width: 300px;
    height: 450px;
    margin: 0;
    padding: 20px;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.197) 0px 2px 11px;
    border-radius: 6px;
}

.product-card img {
    position: absolute;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);
    top: 20px;
    height: 50%;
    object-fit: cover;
    border-radius: 6px;
}

.product-card h3 {
    top: 55%;
    left: 10%;
    position: absolute;
}

.product-card p:first-of-type{
    position: absolute;
    top: 66%;
    left: 10%;
}

.product-card .price {
    position: absolute;
    top: 78%;
    left: 10%;
    font-size: 3em;
    font-weight: 500;
    color: var(--black);
    margin: 15px 0;
    font-family: 'Karantina';
    
}

.product-card .currency {
    font-size: 0.4em;
    color: var(--black);
    font-weight: 800;
    font-family: 'Roboto Condensed';
    vertical-align: 14px;
}