.products-overview {
    position: relative;
    width: 100%;
    height: 500vh;
}

.filter-section {
    position: absolute;
    box-shadow: var(--box_shadow);
    background-color: var(--white);
    width: 20rem;
    height: 60vh;
    border-radius: 6px;
    top: 5vh;
    padding: 20px 40px;
}

.filter-section h3 {
    font-size: 2em;
    text-align: center;
}

.sorting-section {
    position: absolute;
    display: flex;
    top: 5vh;
    right: 14.9rem;
}

.sorting-section button {
    border: none;
    background-color: var(--white);
    color: var(--black);
    font-size: 1.2em;
    cursor: pointer;
    font-weight: bold;
    width: 200px;
    height: 50px;
    box-shadow: var(--box_shadow);
    border-radius: 6px;
    margin: 0 20px;
}

.sorting-section .checked {
    background-color: var(--green);
    color: var(--white);
}

.sorting-section input {
    box-shadow: var(--box_shadow);
    background-color: var(--white);
}

.products-list {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 20px;
    row-gap: 40px;
    flex-wrap: wrap;
    gap: auto;
    justify-content: space-between;
    padding: 20px 0;
    right: 0;
    top: 10vh;
}

.product-item {
    position: relative;
}

