header {
    width: 100%;   
    height: 110px;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.397) 0px 5px 25px;
}
.header-top {
    height: 70%;    
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16%;
    box-sizing: border-box;
    gap: 20px;
}

.logo {
    height: 50px;
    flex-shrink: 0;
}

.nav-links img {
    height: 50px;
    flex-shrink: 0;
}

#searchbar {
    margin: 0 200px;
    height: 40px;
    flex: 1;
    padding: 10px 15px;
    border: none;
    border-radius: 100px;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.185) 0px 5px 25px;
}

.header-bottom {
    height: 30%;
    width: 100%;
    background-color: var(--green);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 45px;
    flex-shrink: 0;
    padding: 0;

}

.cart-link {
    position: relative;
    display: inline-block;
    padding-top: 7px;
    font-size: 30px;
    color: var(--black);
}


.cart-badge {
    position: absolute;
    top: 0;
    right: -6px;
    background-color: var(--red, #e74c3c);
    color: white;
    font-weight: 700;
    font-size: 12px;
    padding: 2px 6px;
    border-radius: 12px;
    line-height: 1;
}