.view-all{
    position: relative;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.view-all a{
    text-decoration: none;
    color: var(--green);
    font-size: clamp(30px, 2vw, 3vh);
    font-weight: bold;
}

@media (max-width: 1919px) {
    .home-page {
        padding: 8vh auto;
    }
}

@media (max-width: 1790px) {
    .home-page {
        padding: 8vh 14%;
    }
}

@media (max-width: 1710px) {
    .home-page {
        padding: 8vh 13%
    }
}

@media (max-width: 1650px) {
    .home-page {
        padding: 8vh 12%;
    }
}

@media (max-width: 1570px) {
    .home-page {
        padding: 8vh 11%
    }
}

@media (max-width: 1650px) {
    .home-page {
        padding: 8vh 10%
    }
}

@media (max-width: 1570px) {
    .home-page {
        padding: 8vh 9%
    }
}

@media (max-width: 1570px) {
    .home-page {
        padding: 8vh 8%
    }
}