.cart-product-list {
    width: 71%;
    padding: 18px 18px;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: var(--box_shadow);
}

.cart-product-list-empty {
    text-align: center;
    color: var(--black);
    padding: 40px 0;
    font-size: 40px;
}

.cart-product-item {
    display: flex;
    padding: 16px 12px;
    border-bottom: 1px solid #e8e6e6;
    gap: 16px;
    justify-content: space-between;
}

.cart-product-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: rgba(0,0,0,0.05) 0px 4px 10px;
}

.cart-product-name {
    margin: auto 0;
    font-weight: 600;
}

.cart-product-controls {
    display: flex;
    gap: 12px;
    align-items: center;
    margin: auto 0;
}

.qty-btn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cart-product-quantity {
    min-width: 32px;
    text-align: center;
    font-weight: 700;
}

.cart-product-left {
    display: flex;
    justify-content: space-between;
    gap: 35px;
    min-width: 120px;
}

.cart-product-right {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 35px;
}

.cart-product-price {
    font-weight: 800;
    margin: auto 0;
}

.remove-button {
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--black);
    margin: auto 0 auto 0 ;
    padding-top: 5px;
}
